

// COULEURS
$couleur1 : #E76F51;
$couleur2 : #FF8A6C;
$couleur3 : #FFD2C6;
$couleur4 : #FFB63B;
$couleur5 : #3B3735;
$couleur6 : #8D8D8D;


// FONTS
$typo1 : "'Roboto', sans-serif";
$typo2 : "'Archivo Black', sans-serif";


// GRILLE
$grilleNombreColonnes: 12;
$grilleGouttiere:30px;
$breakpoints: (
        'xs' : '0',
        's'  : '481px',
        'm'  : '769px',
        'l'  : '1025px',
        'xl' : '1201px',
        );